                <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold"> {{ name }} </h4>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ role }} </h5>
                    <p class="card-text">
                      {{ email }} <br>
                      Employee ID: {{ id }} <br>
                      Office No. {{ officeNumber }}
                    </p>
                  </div>
                </div>
                
